body {
    background: url('crypto-bg.jpg') no-repeat center center/cover; /* Uncommented the image */
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    /* background: linear-gradient(135deg, #096778, #00c6c0, #a3e5e5);  */
    height: 100vh;
    background-attachment: fixed; 
}
@media screen and (max-width : 768px){
    body {
        margin: 0;
        padding: 0;
        height: 100vh; /* Make sure the element covers the whole viewport */
        background: linear-gradient(135deg, #00c6ff, #0072ff, #2af598);
        background-size: cover; /* Prevent the gradient from repeating */
        background-attachment: fixed; /* Fix the gradient when scrolling (optional) */
      }

}
